<h2>Profile</h2>

<img src="<%= gallery.profileImage %>" alt="<%= gallery.name %>">
<p>Name: <%= gallery.name %></p>
<p>Phone: <%= gallery.phone_number %></p>
<p>Email: <%= gallery.email %></p>
<p>Address: <%= gallery.address %></p>
<p>City: <%= gallery.city %></p>
<p>State: <%= gallery.state %></p>
<p>Zipcode: <%= gallery.zipcode %></p>
<p>Owner: <%= gallery.owner %></p>
<p>Description: <%= gallery.description %></p>

<% if (favorites.length > 0) { %>
<h3>Favorites</h3>

<% favorites.forEach(f => { %>
    <img src="<%= f.imageFile %>" alt="<%= f.description %>">
    <form action="/works/remove?_method=DELETE" method="post">
        <input type="hidden" name="id" value='<%=  f.id %>'>
        <input type="submit" value="Remove Favorite">
    </form>
<% }) %>
<% } %>

