<h2>Profile</h2>

<img src="<%= gallery.profileImage %>" alt="<%= gallery.name %>">
<p>Name: <%= gallery.name %></p>
<p>Phone: <%= gallery.phone_number %></p>
<p>Email: <%= gallery.email %></p>
<p>Address: <%= gallery.address %></p>
<p>City: <%= gallery.city %></p>
<p>State: <%= gallery.state %></p>
<p>Zipcode: <%= gallery.zipcode %></p>
<p>Owner: <%= gallery.owner %></p>
<p>Description: <%= gallery.description %></p>



