<div class='row'>

    <div class = 'col-3 profile-info affix'>
    <img src="<%=gallery.profileImage%>" alt="<%=gallery.name%>" class='profileImage'>
    <h5><%= gallery.name %></h5>

    <p><%=gallery.description%></p>
    <p>Address:</p>
    <p><%=gallery.address%> <%=gallery.city%>, <%=gallery.state%> <%=gallery.zipcode%></p>
    <p>Email: <%=gallery.email%></p>
    <p>Phone: <%=gallery.phone_number%></p>

    
    
    </div>
    
    
    <div class= 'col-9 offset-md-3 image-section'>
    
    <h1 class= 'single-header'>Favorite Works</h1>
    
    <div class= 'profile-works-favorites'>
        <% if (favorites.length >0){ %>
    <% favorites.forEach(work =>{ %>
            <a href="/works/<%=work.id%>"><img src="<%= work.imageFile %>" alt="<%= work.description %>" class='work-image'>
        <p><%=work.title %>, <%= work.yearCreated %> </p></a>
        <form action="/works/remove?_method=DELETE" method="post">
            <input type="hidden" name="id" value='<%=  work.id %>'>
            <input type="submit" value="Remove Favorite" class='auth-button'>
        </form>
    <% }) %> 
    <% } else { %>
        <h3>This gallery has not added any favorites.</h3>
    
    <% } %>
    </div>
    
    </div>
    </div>
