<h1><%= gallery.name %></h1>

<img src="<%= gallery.profileImage %>" alt="<%= gallery.name %>">

<div><%= gallery.description %></div>

<div>Contact</div>
<ul>
    <li>Owner: <%= gallery.owner %></li>
    <li>Phone: <%= gallery.phone_number %></li>
    <li>Email: <%= gallery.email %></li>
    <li>Address: <%= gallery.address %> <%= gallery.city %>, <%= gallery.state %> <%= gallery.zipcode %></li>
</ul>
